@import "@/assets/scss/ress.scss";
@import "@/assets/scss/variables.scss";
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  background: #000719;
  font-family: sans-serif;
}
a {
  color: #fff;
  text-decoration: none;
}
li {
  list-style-type: none;
}
::selection {
  background: rgba($color: lighten($mainColor, 40%), $alpha: 0.4);
  color: $copywrightColor;
}
::-moz-selection {
  //firefox
  background: rgba($color: lighten($mainColor, 40%), $alpha: 0.4);
  color: $copywrightColor;
}
